In [8]:
import pandas as pd

# READING FILES

path1 = '/content/drive/MyDrive/Colab Notebooks/Join Data with Pandas/Datasets/''taxi_owners.p'

taxi_owners = pd.read_pickle(path1)

path2 = '/content/drive/MyDrive/Colab Notebooks/Join Data with Pandas/Datasets/taxi_vehicles.p'

taxi_veh = pd.read_pickle(path2)


# INNER JOIN


# Merge the taxi_owners and taxi_veh tables
taxi_own_veh = taxi_owners.merge(taxi_veh, on = 'vid')

# Print the column names of the taxi_own_veh
print(taxi_own_veh.columns)

# Merge the taxi_owners and taxi_veh tables setting a suffix
taxi_own_veh = taxi_owners.merge(taxi_veh, on='vid', suffixes = ('_own', '_veh'))

# Print the column names of taxi_own_veh
print(taxi_own_veh.columns)

# Print the value_counts to find the most popular fuel_type
print(taxi_own_veh['fuel_type'].value_counts())


# Inner joins and number of rows returned

Index(['rid', 'vid', 'owner_x', 'address', 'zip', 'make', 'model', 'year',
       'fuel_type', 'owner_y'],
      dtype='object')
Index(['rid', 'vid', 'owner_own', 'address', 'zip', 'make', 'model', 'year',
       'fuel_type', 'owner_veh'],
      dtype='object')
fuel_type
HYBRID                    2792
GASOLINE                   611
FLEX FUEL                   89
COMPRESSED NATURAL GAS      27
Name: count, dtype: int64

In [20]:
import pandas as pd

# READING FILES

path3 = '/content/drive/MyDrive/Colab Notebooks/Join Data with Pandas/Datasets/ward.p'

wards = pd.read_pickle(path3)

path4 = '/content/drive/MyDrive/Colab Notebooks/Join Data with Pandas/Datasets/census.p'

census = pd.read_pickle(path4)


# Inner joins and number of rows returned: inner joins only return the rows with matching values in both tables.


print(wards.head())
print(census.head())

# Merge the wards and census tables on the ward column
wards_census = wards.merge(census, on = 'ward')

# Print the shape of wards_census
print('wards_census table shape:', wards_census.shape)
print()
#altering wards table
wards_altered = wards
wards_altered.loc[0, ['ward']] = 61

# Print the first few rows of the wards_altered table to view the change
print(wards_altered[['ward']].head())
print()
# Merge the wards_altered and census tables on the ward column
wards_altered_census = wards_altered.merge(census, on = 'ward')

# Print the shape of wards_altered_census
print('wards_altered_census table shape:', wards_altered_census.shape)
print()

# it only printed 49 rows instead of 50 because there was no 50 matching values on both tables, since we altered the ward value to 61

#altering census table

census_altered = census
census_altered.loc[0, ['ward']] = 'none'

# Print the first few rows of the census_altered table to view the change
print(census_altered[['ward']].head())

# Merge the wards and census_altered tables on the ward column
wards_census_altered = wards.merge(census_altered, on = 'ward')

# Print the shape of wards_census_altered
print('wards_census_altered table shape:', wards_census_altered.shape)

# it only printed 49 rows instead of 50 because there was no 50 matching values on both tables, since we altered the ward value to 61

# Attention: .merge() only returns rows where the values match in both tables.

  ward            alderman                          address    zip
0    1  Proco "Joe" Moreno        2058 NORTH WESTERN AVENUE  60647
1    2       Brian Hopkins       1400 NORTH  ASHLAND AVENUE  60622
2    3          Pat Dowell          5046 SOUTH STATE STREET  60609
3    4    William D. Burns  435 EAST 35TH STREET, 1ST FLOOR  60616
4    5  Leslie A. Hairston            2325 EAST 71ST STREET  60649
  ward  pop_2000  pop_2010 change                                  address  \
0    1     52951     56149     6%              2765 WEST SAINT MARY STREET
1    2     54361     55805     3%                 WM WASTE MANAGEMENT 1500
2    3     40385     53039    31%                      17 EAST 38TH STREET
3    4     51953     54589     5%  31ST ST HARBOR BUILDING LAKEFRONT TRAIL
4    5     55302     51455    -7%  JACKSON PARK LAGOON SOUTH CORNELL DRIVE

     zip
0  60647
1  60622
2  60653
3  60653
4  60637
wards_census table shape: (50, 9)

  ward
0   61
1    2
2    3
3    4
4    5

wards_altered_census table shape: (49, 9)

   ward
0  none
1     2
2     3
3     4
4     5
wards_census_altered table shape: (49, 9)

In [21]:
# One-to-many relationships: when one row of Table A can relate to more than one rows of Table B.
# Example: ward 1 can have more than one businesses related to it. It's a one to many relation.


# ONE TO MANY MERGE

import pandas as pd

# READING FILES

path5 = '/content/drive/MyDrive/Colab Notebooks/Join Data with Pandas/Datasets/licenses.p'

licenses = pd.read_pickle(path5)

path6 = '/content/drive/MyDrive/Colab Notebooks/Join Data with Pandas/Datasets/business_owners.p'

biz_owners = pd.read_pickle(path6)