<a href="https://colab.research.google.com/github/gustavo-plc/joinWithPandas/blob/main/join_data_with_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# INNER JOIN

In [ ]:
import pandas as pd

# READING FILES

path1 = '/content/drive/MyDrive/Colab Notebooks/Join Data with Pandas/Datasets/''taxi_owners.p'

taxi_owners = pd.read_pickle(path1)

path2 = '/content/drive/MyDrive/Colab Notebooks/Join Data with Pandas/Datasets/taxi_vehicles.p'

taxi_veh = pd.read_pickle(path2)


# INNER JOIN


# Merge the taxi_owners and taxi_veh tables
taxi_own_veh = taxi_owners.merge(taxi_veh, on = 'vid')

# Print the column names of the taxi_own_veh
print(taxi_own_veh.columns)

# Merge the taxi_owners and taxi_veh tables setting a suffix
taxi_own_veh = taxi_owners.merge(taxi_veh, on='vid', suffixes = ('_own', '_veh'))

# Print the column names of taxi_own_veh
print(taxi_own_veh.columns)

# Print the value_counts to find the most popular fuel_type
print(taxi_own_veh['fuel_type'].value_counts())


# Inner joins and number of rows returned

Index(['rid', 'vid', 'owner_x', 'address', 'zip', 'make', 'model', 'year',
       'fuel_type', 'owner_y'],
      dtype='object')
Index(['rid', 'vid', 'owner_own', 'address', 'zip', 'make', 'model', 'year',
       'fuel_type', 'owner_veh'],
      dtype='object')
fuel_type
HYBRID                    2792
GASOLINE                   611
FLEX FUEL                   89
COMPRESSED NATURAL GAS      27
Name: count, dtype: int64

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

# READING FILES

path3 = '/content/drive/MyDrive/Colab Notebooks/Join Data with Pandas/Datasets/ward.p'

wards = pd.read_pickle(path3)

path4 = '/content/drive/MyDrive/Colab Notebooks/Join Data with Pandas/Datasets/census.p'

census = pd.read_pickle(path4)


# Inner joins and number of rows returned: inner joins only return the rows with matching values in both tables.


print(wards.head())
print(census.head())

# Merge the wards and census tables on the ward column
wards_census = wards.merge(census, on = 'ward')

# Print the shape of wards_census
print('wards_census table shape:', wards_census.shape)
print()
#altering wards table
wards_altered = wards
wards_altered.loc[0, ['ward']] = 61

# Print the first few rows of the wards_altered table to view the change
print(wards_altered[['ward']].head())
print()
# Merge the wards_altered and census tables on the ward column
wards_altered_census = wards_altered.merge(census, on = 'ward')

# Print the shape of wards_altered_census
print('wards_altered_census table shape:', wards_altered_census.shape)
print()

# it only printed 49 rows instead of 50 because there was no 50 matching values on both tables, since we altered the ward value to 61

#altering census table

census_altered = census
census_altered.loc[0, ['ward']] = 'none'

# Print the first few rows of the census_altered table to view the change
print(census_altered[['ward']].head())

# Merge the wards and census_altered tables on the ward column
wards_census_altered = wards.merge(census_altered, on = 'ward')

# Print the shape of wards_census_altered
print('wards_census_altered table shape:', wards_census_altered.shape)

# it only printed 49 rows instead of 50 because there was no 50 matching values on both tables, since we altered the ward value to 61

# Attention: .merge() only returns rows where the values match in both tables.

  ward            alderman                          address    zip
0    1  Proco "Joe" Moreno        2058 NORTH WESTERN AVENUE  60647
1    2       Brian Hopkins       1400 NORTH  ASHLAND AVENUE  60622
2    3          Pat Dowell          5046 SOUTH STATE STREET  60609
3    4    William D. Burns  435 EAST 35TH STREET, 1ST FLOOR  60616
4    5  Leslie A. Hairston            2325 EAST 71ST STREET  60649
  ward  pop_2000  pop_2010 change                                  address  \
0    1     52951     56149     6%              2765 WEST SAINT MARY STREET
1    2     54361     55805     3%                 WM WASTE MANAGEMENT 1500
2    3     40385     53039    31%                      17 EAST 38TH STREET
3    4     51953     54589     5%  31ST ST HARBOR BUILDING LAKEFRONT TRAIL
4    5     55302     51455    -7%  JACKSON PARK LAGOON SOUTH CORNELL DRIVE

     zip
0  60647
1  60622
2  60653
3  60653
4  60637
wards_census table shape: (50, 9)

  ward
0   61
1    2
2    3
3    4
4    5

wards_altered_census table shape: (49, 9)

   ward
0  none
1     2
2     3
3     4
4     5
wards_census_altered table shape: (49, 9)

In [ ]:
# One-to-many relationships: when one row of Table A can relate to more than one rows of Table B.
# Example: ward 1 can have more than one businesses related to it. It's a one to many relation.


# ONE TO MANY MERGE


import pandas as pd


# READING FILES


path5 = '/content/drive/MyDrive/Colab Notebooks/Join Data with Pandas/Datasets/licenses.p'

licenses = pd.read_pickle(path5)

path6 = '/content/drive/MyDrive/Colab Notebooks/Join Data with Pandas/Datasets/business_owners.p'

biz_owners = pd.read_pickle(path6)

print(licenses.head())
print()
print(biz_owners.head())
print()

# Merge the licenses and biz_owners table on account
licenses_owners = licenses.merge(biz_owners, on = 'account')
print(licenses_owners.head())
print()

# Group the results by title then count the number of accounts
counted_df = licenses_owners.groupby('title').agg({'account':'count'})
# this line COUNTS the number of diff ACCOUNTS grouped by TITLE
# THE CAPITAL WORDS SHOWS THE FUNCTION'S ARGUMENTS

# Sort the counted_df in descending order
sorted_df = counted_df.sort_values('account', ascending = False)

# Use .head() method to print the first few rows of sorted_df
print(sorted_df.head())

  account ward  aid                   business               address    zip
0  307071    3  743       REGGIE'S BAR & GRILL       2105 S STATE ST  60616
1      10   10  829                 HONEYBEERS   13200 S HOUSTON AVE  60633
2   10002   14  775                CELINA DELI     5089 S ARCHER AVE  60632
3   10005   12  NaN  KRAFT FOODS NORTH AMERICA        2005 W 43RD ST  60609
4   10044   44  638  NEYBOUR'S TAVERN & GRILLE  3651 N SOUTHPORT AVE  60613

  account first_name  last_name      title
0      10      PEARL    SHERMAN  PRESIDENT
1      10      PEARL    SHERMAN  SECRETARY
2   10002     WALTER     MROZEK    PARTNER
3   10002     CELINA     BYRDAK    PARTNER
4   10005      IRENE  ROSENFELD  PRESIDENT

  account ward  aid              business              address    zip  \
0  307071    3  743  REGGIE'S BAR & GRILL      2105 S STATE ST  60616
1      10   10  829            HONEYBEERS  13200 S HOUSTON AVE  60633
2      10   10  829            HONEYBEERS  13200 S HOUSTON AVE  60633
3   10002   14  775           CELINA DELI    5089 S ARCHER AVE  60632
4   10002   14  775           CELINA DELI    5089 S ARCHER AVE  60632

  first_name last_name      title
0     ROBERT     GLICK     MEMBER
1      PEARL   SHERMAN  PRESIDENT
2      PEARL   SHERMAN  SECRETARY
3     WALTER    MROZEK    PARTNER
4     CELINA    BYRDAK    PARTNER

                 account
title
PRESIDENT           6259
SECRETARY           5205
SOLE PROPRIETOR     1658
OTHER               1200
VICE PRESIDENT       970

In [ ]:
# Merging multiple DataFrames

import pandas as pd


# READING FILES


path7 = '/content/drive/MyDrive/Colab Notebooks/Join Data with Pandas/Datasets/cta_calendar.p'

cal = pd.read_pickle(path7)

path8 = '/content/drive/MyDrive/Colab Notebooks/Join Data with Pandas/Datasets/cta_ridership.p'

ridership = pd.read_pickle(path8)

path9 = '/content/drive/MyDrive/Colab Notebooks/Join Data with Pandas/Datasets/stations.p'

stations = pd.read_pickle(path9)

print(cal.head())
print()
print(ridership.head())
print()
print(stations.head())
print()


# QUESTION: find the total number of rides provided to passengers passing through the Wilson station (station_name == 'Wilson') when riding Chicago's public transportation system on weekdays (day_type == 'Weekday') in July (month == 7)

# TO MERGE THREE TABLES:
# df1.merge(df2, on='col') \
#     .merge(df3, on='col')


# merging cal and ridership to have just one table with all this content, since
# almost all columns from cal are already in ridership

# Merge the ridership and cal tables MERGING TWO TABLES!
ridership_cal = ridership.merge(cal, on = ['year', 'month', 'day'])
print(ridership_cal)
print()

# MERGING THREE TABLES AT ONCE!:

ridership_cal_stations = ridership.merge(cal, on = ['year', 'month', 'day']) \
                                  .merge(stations, on = 'station_id')

print(ridership_cal_stations)
print()

# SINCE THE TABLES WERE MERGED WE CAN NOW CREATE A FILTER TO FACILITATE SELECTING DATA FROM THE MERGED TABLE

# Create a filter to filter ridership_cal_stations
filter_criteria = ((ridership_cal_stations['station_name'] == 'Wilson') & (ridership_cal_stations['day_type'] == 'Weekday') & (ridership_cal_stations['month'] == 7))

#printing the sum of these rides on July weekdays on Wilson's station
# synthax: df.loc[lines, columns]

print(ridership_cal_stations.loc[filter_criteria, 'rides'].sum())

   year  month  day        day_type
0  2019      1    1  Sunday/Holiday
1  2019      1    2         Weekday
2  2019      1    3         Weekday
3  2019      1    4         Weekday
4  2019      1    5        Saturday

  station_id  year  month  day  rides
0      40010  2019      1    1    576
1      40010  2019      1    2   1457
2      40010  2019      1    3   1543
3      40010  2019      1    4   1621
4      40010  2019      1    5    719

  station_id        station_name                 location
0      40010  Austin-Forest Park  (41.870851, -87.776812)
1      40020         Harlem-Lake  (41.886848, -87.803176)
2      40030        Pulaski-Lake  (41.885412, -87.725404)
3      40040        Quincy/Wells   (41.878723, -87.63374)
4      40050               Davis   (42.04771, -87.683543)

     station_id  year  month  day  rides        day_type
0         40010  2019      1    1    576  Sunday/Holiday
1         40010  2019      1    2   1457         Weekday
2         40010  2019      1    3   1543         Weekday
3         40010  2019      1    4   1621         Weekday
4         40010  2019      1    5    719        Saturday
...         ...   ...    ...  ...    ...             ...
3280      41660  2019     12   27  13898         Weekday
3281      41660  2019     12   28   9485        Saturday
3282      41660  2019     12   29   7581  Sunday/Holiday
3283      41660  2019     12   30  15332         Weekday
3284      41660  2019     12   31  13430         Weekday

[3285 rows x 6 columns]

     station_id  year  month  day  rides        day_type        station_name  \
0         40010  2019      1    1    576  Sunday/Holiday  Austin-Forest Park
1         40010  2019      1    2   1457         Weekday  Austin-Forest Park
2         40010  2019      1    3   1543         Weekday  Austin-Forest Park
3         40010  2019      1    4   1621         Weekday  Austin-Forest Park
4         40010  2019      1    5    719        Saturday  Austin-Forest Park
...         ...   ...    ...  ...    ...             ...                 ...
3280      41660  2019     12   27  13898         Weekday          Lake/State
3281      41660  2019     12   28   9485        Saturday          Lake/State
3282      41660  2019     12   29   7581  Sunday/Holiday          Lake/State
3283      41660  2019     12   30  15332         Weekday          Lake/State
3284      41660  2019     12   31  13430         Weekday          Lake/State

                     location
0     (41.870851, -87.776812)
1     (41.870851, -87.776812)
2     (41.870851, -87.776812)
3     (41.870851, -87.776812)
4     (41.870851, -87.776812)
...                       ...
3280  (41.884809, -87.627813)
3281  (41.884809, -87.627813)
3282  (41.884809, -87.627813)
3283  (41.884809, -87.627813)
3284  (41.884809, -87.627813)

[3285 rows x 8 columns]

140005

In [ ]:
# Merging multiple DataFrames

import pandas as pd


# READING FILES


path10 = '/content/drive/MyDrive/Colab Notebooks/Join Data with Pandas/Datasets/licenses.p'

licenses = pd.read_pickle(path10)

path11 = '/content/drive/MyDrive/Colab Notebooks/Join Data with Pandas/Datasets/ward.p'

wards = pd.read_pickle(path11)

path12 = '/content/drive/MyDrive/Colab Notebooks/Join Data with Pandas/Datasets/zip_demo.p'

zip_demo = pd.read_pickle(path12)

print(licenses.head())
print()
print(wards.head())
print()
print(zip_demo.head())
print()


# Merge licenses and zip_demo, on zip; and merge the wards on ward
licenses_zip_ward = licenses.merge(zip_demo, on = 'zip') \
            			.merge(wards, on = 'ward')

# PRINTING THE RESULTS WITHOUT A FILTER_CRITERIA, JUST USING THE GROUPBY AND AGG METHODS

# Print the results by alderman and show median income
print(licenses_zip_ward.groupby('alderman').agg({'income':'median'}))

# RESULT SHOWING THE INCOME MEDIAN FOR EACH ALDERMAN: CMD ABOVE

  account ward  aid                   business               address    zip
0  307071    3  743       REGGIE'S BAR & GRILL       2105 S STATE ST  60616
1      10   10  829                 HONEYBEERS   13200 S HOUSTON AVE  60633
2   10002   14  775                CELINA DELI     5089 S ARCHER AVE  60632
3   10005   12  NaN  KRAFT FOODS NORTH AMERICA        2005 W 43RD ST  60609
4   10044   44  638  NEYBOUR'S TAVERN & GRILLE  3651 N SOUTHPORT AVE  60613

  ward            alderman                          address    zip
0    1  Proco "Joe" Moreno        2058 NORTH WESTERN AVENUE  60647
1    2       Brian Hopkins       1400 NORTH  ASHLAND AVENUE  60622
2    3          Pat Dowell          5046 SOUTH STATE STREET  60609
3    4    William D. Burns  435 EAST 35TH STREET, 1ST FLOOR  60616
4    5  Leslie A. Hairston            2325 EAST 71ST STREET  60649

     zip  income
0  60630   70122
1  60640   50488
2  60622   87143
3  60614  100116
4  60608   41226

                             income
alderman
Ameya Pawar                 66246.0
Anthony A. Beale            38206.0
Anthony V. Napolitano       82226.0
Ariel E. Reyboras           41307.0
Brendan Reilly             110215.0
Brian Hopkins               87143.0
Carlos Ramirez-Rosa         66246.0
Carrie M. Austin            38206.0
Chris Taliaferro            55566.0
Daniel "Danny" Solis        41226.0
David H. Moore              33304.0
Deborah Mell                66246.0
Debra L. Silverstein        50554.0
Derrick G. Curtis           65770.0
Edward M. Burke             42335.0
Emma M. Mitts               36283.0
George Cardenas             33959.0
Gilbert Villegas            41307.0
Gregory I. Mitchell         24941.0
Harry Osterman              45442.0
Howard B. Brookins, Jr.     33304.0
James Cappleman             79565.0
Jason C. Ervin              41226.0
Joe Moore                   39163.0
John S. Arena               70122.0
Leslie A. Hairston          28024.0
Margaret Laurino            70122.0
Marty Quinn                 67045.0
Matthew J. O'Shea           59488.0
Michael R. Zalewski         42335.0
Michael Scott, Jr.          31445.0
Michelle A. Harris          32558.0
Michelle Smith             100116.0
Milagros "Milly" Santiago   41307.0
Nicholas Sposato            62223.0
Pat Dowell                  46340.0
Patrick Daley Thompson      41226.0
Patrick J. O'Connor         50554.0
Proco "Joe" Moreno          87143.0
Raymond A. Lopez            33959.0
Ricardo Munoz               31445.0
Roberto Maldonado           68223.0
Roderick T. Sawyer          32558.0
Scott Waguespack            68223.0
Susan Sadlowski Garza       38417.0
Tom Tunney                  88708.0
Toni L. Foulkes             27573.0
Walter Burnett, Jr.         87143.0
William D. Burns           107811.0
Willie B. Cochran           28024.0

In [ ]:
# One-to-many merge with multiple tables


# PROBLEM: However, you have to choose a location in the city to put your goat farm. You need a location with a great deal of space and relatively few businesses and people around to avoid complaints about the smell.

import pandas as pd


# READING FILES


path13 = '/content/drive/MyDrive/Colab Notebooks/Join Data with Pandas/Datasets/land_use.p'

land_use = pd.read_pickle(path13)

path14 = '/content/drive/MyDrive/Colab Notebooks/Join Data with Pandas/Datasets/census.p'

census = pd.read_pickle(path14)

path15 = '/content/drive/MyDrive/Colab Notebooks/Join Data with Pandas/Datasets/licenses.p'

licenses = pd.read_pickle(path15)


print(land_use.head())
print()
print(census.head())
print()
print(licenses.head())
print()

# Merge land_use and census and merge result with licenses including suffixes
land_cen_lic = land_use.merge(census, on = 'ward') \
                        .merge(licenses, on = 'ward', suffixes = ('_cen', '_lic'))

print(land_cen_lic.columns)
print()

# Group by ward, pop_2010, and vacant, then count the # of accounts
# AFTER THIS, THE FEATURE ACCOUNT WILL HAVE THE TOTAL NUMBER OF ACCOUNTS FOR EACH WARD

pop_vac_lic = land_cen_lic.groupby(['ward','pop_2010','vacant'],
                                   as_index=False).agg({'account':'count'})

# Sort pop_vac_lic and print the results
sorted_pop_vac_lic = pop_vac_lic.sort_values(['vacant', 'account', 'pop_2010'],
                                             ascending=[False, True, True])
print(sorted_pop_vac_lic.head())
print()

# THE GOAL HERE ABOVE WAS TO FIND A PLACE WITH FEW POPULATION,
# MANY VACANT PLACES AND FEW BUSINESSES (BY THE ACCOUNT N#)

  ward  residential  commercial  industrial  vacant  other
0    1           41           9           2       2     46
1    2           31          11           6       2     50
2    3           20           5           3      13     59
3    4           22          13           0       7     58
4    5           25           3           1       3     68

  ward  pop_2000  pop_2010 change                                  address  \
0    1     52951     56149     6%              2765 WEST SAINT MARY STREET
1    2     54361     55805     3%                 WM WASTE MANAGEMENT 1500
2    3     40385     53039    31%                      17 EAST 38TH STREET
3    4     51953     54589     5%  31ST ST HARBOR BUILDING LAKEFRONT TRAIL
4    5     55302     51455    -7%  JACKSON PARK LAGOON SOUTH CORNELL DRIVE

     zip
0  60647
1  60622
2  60653
3  60653
4  60637

  account ward  aid                   business               address    zip
0  307071    3  743       REGGIE'S BAR & GRILL       2105 S STATE ST  60616
1      10   10  829                 HONEYBEERS   13200 S HOUSTON AVE  60633
2   10002   14  775                CELINA DELI     5089 S ARCHER AVE  60632
3   10005   12  NaN  KRAFT FOODS NORTH AMERICA        2005 W 43RD ST  60609
4   10044   44  638  NEYBOUR'S TAVERN & GRILLE  3651 N SOUTHPORT AVE  60613

Index(['ward', 'residential', 'commercial', 'industrial', 'vacant', 'other',
       'pop_2000', 'pop_2010', 'change', 'address_cen', 'zip_cen', 'account',
       'aid', 'business', 'address_lic', 'zip_lic'],
      dtype='object')

   ward  pop_2010  vacant  account
47    7     51581      19       80
12   20     52372      15      123
1    10     51535      14      130
16   24     54909      13       98
7    16     51954      13      156

# LEFT JOIN

In [ ]:
# Counting missing rows with left join

import pandas as pd


# READING FILES


path16 = '/content/drive/MyDrive/Colab Notebooks/Join Data with Pandas/Datasets/movies.p'

movies = pd.read_pickle(path16)

path17 = '/content/drive/MyDrive/Colab Notebooks/Join Data with Pandas/Datasets/financials.p'

financials = pd.read_pickle(path17)

print(movies.head())
print(movies.shape)
print(financials.head())
print(financials.shape)

# Merge movies and financials with a left join
movies_financials = movies.merge(financials, on = 'id', how = 'left')

# TO DISCOVER HOW MANY LINES ARE MISSING FROM THE SECOND DATAFRAME, JUST CALCULATE
# THE NUMBER OF LINES THAT CONTAINS "NAN" VALUES


# Merge the movies table with the financials table with a left join
movies_financials = movies.merge(financials, on='id', how='left')

# Count the number of rows in the budget column that are missing
number_of_missing_fin = movies_financials['budget'].isna().sum()

# Print the number of movies missing financials
print(number_of_missing_fin)

# When performing a left join, the .merge() method returns a row full of null values for columns in the right table if the key column does not have a matching value in both tables.

      id                 title  popularity release_date
0    257          Oliver Twist   20.415572   2005-09-23
1  14290  Better Luck Tomorrow    3.877036   2002-01-12
2  38365             Grown Ups   38.864027   2010-06-24
3   9672              Infamous    3.680896   2006-11-16
4  12819       Alpha and Omega   12.300789   2010-09-17
(4803, 4)
       id     budget       revenue
0   19995  237000000  2.787965e+09
1     285  300000000  9.610000e+08
2  206647  245000000  8.806746e+08
3   49026  250000000  1.084939e+09
4   49529  260000000  2.841391e+08
(3229, 3)
1574

In [23]:
# Enriching a dataset


import pandas as pd


# READING FILES


path18 = '/content/drive/MyDrive/Colab Notebooks/Join Data with Pandas/Datasets/toy_story.p'

toy_story = pd.read_pickle(path18)

path19 = '/content/drive/MyDrive/Colab Notebooks/Join Data with Pandas/Datasets/taglines.p'

taglines = pd.read_pickle(path19)

print(toy_story)
print()
print(taglines)
print()

# Merge the toy_story and taglines tables with a left join
toystory_tag = toy_story.merge(taglines, on = 'id', how = 'left')

# Print the rows and shape of toystory_tag
print(toystory_tag)
print(toystory_tag.shape)

# AFTER MERGING, IT WAS POSSIBLE TO NOTICE THAT THERE IS NO TAGLINE INFORMATION ABOUT TOY STORY


# Merge the toy_story and taglines tables with a inner join
toystory_tag = toy_story.merge(taglines, on = 'id')

# Print the rows and shape of toystory_tag
print(toystory_tag)
print(toystory_tag.shape)

# A LEFT join will return all of the rows of your left table, while using an INNER join may result in lost data if it does not exist in both tables.

      id        title  popularity release_date
0  10193  Toy Story 3      59.995   2010-06-16
1    863  Toy Story 2      73.575   1999-10-30
2    862    Toy Story      73.640   1995-10-30

          id                                            tagline
0      19995                        Enter the World of Pandora.
1        285     At the end of the world, the adventure begins.
2     206647                              A Plan No One Escapes
3      49026                                    The Legend Ends
4      49529               Lost in our world, found in another.
...      ...                                                ...
4795  124606            Sometimes you've got to break the rules
4796   14337                 What happens if it actually works?
4798    9367  He didn't come looking for trouble, but troubl...
4799   72766  A newlywed couple's honeymoon is upended by th...
4801  126186                           A New Yorker in Shanghai

[3955 rows x 2 columns]

      id        title  popularity release_date                   tagline
0  10193  Toy Story 3      59.995   2010-06-16  No toy gets left behind.
1    863  Toy Story 2      73.575   1999-10-30        The toys are back!
2    862    Toy Story      73.640   1995-10-30                       NaN
(3, 5)
      id        title  popularity release_date                   tagline
0  10193  Toy Story 3      59.995   2010-06-16  No toy gets left behind.
1    863  Toy Story 2      73.575   1999-10-30        The toys are back!
(2, 5)